body {
  background-color: #461220;
  /* background-image: url('back.jpg'); */
}

h1 {
  color: #fed0bb !important;
}

.FlexContainer {
  background-color: #8c2f39;
}

.textColor {
  color: #fed0bb !important;
}

button {
  background-color: #fcb9b2;

  font-size: 1.5rem !important;
  color: #461220;
  border: none !important;
}

.Answers button {
  box-shadow: 5px 8px !important;
  border-radius: 25px;
  width: 100% !important;
  margin: 5px;
}

.QuizSectionNoDisplay {
  display: none;
}

.QuizSectionDisplay {
  display: block;
}
.result-section {
  margin-top: 50px;
  color: #f5f5f5;
}

.result-card {
  background-color: #8b3a3a;
  border-radius: 20px;
  color: #f5f5f5;
  max-width: 500px;
  margin: auto;
}

.result-card h2 {
  color: #f5f5f5;
}

.result-card p {
  color: #f5f5f5;
}

.result-card button {
  background-color: #f5f5f5;
  color: #8b3a3a;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
}

.result-card button:hover {
  background-color: #f5f5f5;
  color: #a02d2d;
  border: 2px solid #f5f5f5;
  transition: 0.3s;
}
